.app.dark {
    --bg-color: var(--dark-bg);
    --bg-color-mute: var(--black-mute);
    --divider: var(--divider-dark);
    --divider-hover: var(--gray-dark-1);
    --primary-color: var(--green);
    --text-color: var(--text-dark-1);
    --text-secondary: var(--text-dark-2);
    --inverted-text-color: var(--text-light-1);
}
