.app.dark {
  --bg-color: #282828;
  --bg-color-navbar: #d6d9e8;

  --primary-color: #42b883;
  --secondary-color:  #1e8449;
  --dark-blue: #35495e;
  --ligth-blue: #5f8cee;

  --text-primary-color: #fff;
  --inverted-text-primary-color: #212121;
  --text-primary-secondary: #969696;
}
