.app.light {
    --bg-color: var(--white);
    --bg-color-mute: var(--white-mute);
    --divider: var(--divider-light-1);
    --divider-hover: var(--gray);
    --primary-color: var(--green);
    --text-color: var(--text-light-1);
    --text-secondary: var(--text-light-2);
    --inverted-text-color: var(--text-dark-1);
}
