.app.light {
    --bg-color: #fff;
    --bg-color-navbar: #5e5e5e;
    --primary-color: #42b883;
    --secondary-color: #1e8449;
    --dark-blue: #35495e;
    --ligth-blue: #5f8cee;
    --text-primary-color: #212121;
    --inverted-text-primary-color: #fff;
    --text-primary-secondary: #555;
}
