@import "./reset";
@import "./fonts";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/light";

body {
    font-family: Inter, sans-serif;
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
    color: var(--text-color);
}

.app {
    font-style: normal;
    font-weight: 400;
    min-height: 100vh;
    background-color: var(--bg-color);
    transition: background var(--transition-time-main);
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
}
