.Text {
    color: var(--text-color);
    padding: 0;
    margin: 0;

    &.header {
        font-size: var(--font-size-l);
    }

    &.paragraph {
        font-size: var(--font-size-m);
    }

    &.error {
        color: var(--red-error);
    }

    &.size_m {
        .title {
            font: var(--font-l);
        }

        .text {
            font: var(--font-m);
        }
    }

    &.size_l {
        .title {
            font: var(--font-xl);
        }

        .text {
            font: var(--font-l);
        }
    }

    &.left {
        text-align: left;
    }

    &.right {
        text-align: right;
    }

    &.center {
        text-align: center;
    }
}
