.ProfileCard {
    min-height: calc(100vh - var(--navbar-height));

    .editBtn {
        svg {
            margin-left: 8px;

            path {
                fill: var(--inverted-text-color);
            }
        }
    }
}
