.app.dark {
    --primary-color: var(--green);
    --bg-color: var(--dark-bg);
    --bg-color-mute: var(--black-mute);
    --button-primary-bg: var(--green);
    --button-primary-hover: var(--green-light);
    --button-primary-disable: var(--gray-dark-1);
    --button-secondary-bg: var(--gray-dark-2);
    --button-secondary-hover: var(--gray-dark-1);
    --button-secondary-disable: var(--gray-dark-3);
    --button-outline-color: var(--text-dark-1);
    --button-outline-hover: var(--text-dark-2);
    --button-outline-disable: var(--gray);
    --divider: var(--divider-dark-1);
    --divider-hover: var(--gray);
    --text-color: var(--text-dark-1);
    --text-secondary: var(--text-dark-2);
    --inverted-text-color: var(--text-light-1);
}
