.LangSwitcher {
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
        * {
            stroke: var(--text-color);
        }
    }

    &:hover {
        svg {
            * {
                stroke: var(--divider-hover);
            }
        }
    }
}
