.Navbar {
    height: var(--navbar-height);
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--divider);
    transition: background var(--transition-time-main);
    width: 100%;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: var(--content-container-width);
        margin: 0 auto;
        height: 100%;

        .divider {
            margin: 0 4px;
            width: 1px;
            background-color: var(--divider);
            height: 24px;
        }

        .left {
            display: flex;
            align-items: center;
            height: 100%;

            .logo {
                height: 100%;
            }

            .search {
                background-color: #5f8cee;
            }
        }

        .right {
            display: flex;
            align-items: center;
            height: 100%;

            .switchers {
                display: flex;
                padding: 0 8px;
            }

            .links {
                height: 100%;
                display: flex;
                align-items: center;
                padding-top: 4px;
            }
        }
    }
}
