.Navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    height: var(--navbar-height);
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--divider);
    transition: background var(--transition-time-main);

    .switchers {
        display: flex;
    }

    .links {
        margin-left: auto;

        a {
            margin-left: 12px;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}
