.Navbar {
    display: flex;
    align-items: center;

    // padding: 20px;
    height: var(--navbar-height);
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--divider);
    transition: background var(--transition-time-main);

    .switchers {
        display: flex;
    }

    .links {
        height: 100%;
        margin-left: auto;
    }
}
